<template>
  <v-container fill-height class="text-uppercase" v-if="chosenLetter">
    <v-layout column class="text-xs-center" align-center justify-center>
      <v-flex shrink class="text-xs-left px-3 my-2 headline" v-if="!me">
        <v-layout row>
          <v-flex shrink>
            <v-avatar>
              <img :src="player.avatar" alt />
            </v-avatar>
          </v-flex>

          <v-flex class="ml-3">
            <h4 class="name">{{ player.name }}</h4>
          </v-flex>
        </v-layout>
      </v-flex>

      <v-flex shrink class="display-1 grey--text text--darken-1"
        >{{ me ? 'Ти' : '' }} избра буквата</v-flex
      >

      <v-flex shrink class="display-1 primary--text my-5">{{
        chosenLetter
      }}</v-flex>
    </v-layout>
  </v-container>

  <v-container fill-height class="text-uppercase" v-else>
    <v-layout column v-if="isChoosingLetter" align-center justify-center>
      <v-flex shrink class="display-1 grey--text text--darken-1">{{
        msg
      }}</v-flex>
      <v-flex shrink class="display-1 primary--text my-5">{{
        letters[letterIndex]
      }}</v-flex>

      <v-flex shrink>
        <v-btn
          depressed
          round
          color="primary"
          class="outline text-uppercase px-4"
          flat
          @click="stop"
          >Стоп</v-btn
        >
      </v-flex>
    </v-layout>

    <v-layout column class="text-xs-center" align-center justify-center v-else>
      <v-flex shrink class="display-1 grey--text text--darken-1">
        {{ msg }}
        <br />
        <span v-if="me"
          >Приготви се!
          <br />
          {{ timerText }}
        </span>
      </v-flex>
      <v-flex shrink class="text-xs-left px-3 mt-2 headline" v-if="!me">
        <v-layout row>
          <v-flex shrink>
            <v-avatar>
              <img :src="player.avatar" alt />
            </v-avatar>
          </v-flex>

          <v-flex class="ml-3">
            <h4 class="name">{{ player.name }}</h4>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  props: {
    me: {
      type: Boolean,
      default: false,
    },
    player: Object,
    stageToChange: String,
  },

  data: () => ({
    msg: 'В момента избира',
    timerText: 3,
    isChoosingLetter: false,
    letters: [
      'а',
      'б',
      'в',
      'г',
      'д',
      'е',
      'ж',
      'з',
      'и',
      'й',
      'к',
      'л',
      'м',
      'н',
      'о',
      'п',
      'р',
      'с',
      'т',
      'у',
      'ф',
      'х',
      'ц',
      'ч',
      'ш',
      'щ',
      'ю',
      'я',
    ],
    letterIndex: 0,
    interval: null,
    chosenLetter: '',
  }),

  methods: {
    timer() {
      if (this.timerText - 1 >= 1) {
        this.timerText -= 1
        setTimeout(this.timer, 1000)
      } else {
        if (this.me) {
          this.isChoosingLetter = true

          this.msg = 'Ти си!'
          this.startCounting()
        }
      }
    },

    startCounting() {
      this.interval = setInterval(() => {
        if (this.letterIndex === this.letters.length - 1) {
          this.letterIndex = 0
          return
        }
        this.letterIndex = this.letterIndex + 1
      }, 50)
    },

    async stop() {
      clearInterval(this.interval)

      let letter = this.letters[this.letterIndex]

      await this.$store.dispatch('letterChosen', letter)

      this.chosenLetter = letter

      this.changeStage()
    },

    changeStage() {
      setTimeout(() => {
        this.$emit('changeStage', {
          stage: this.stageToChange,
          letter: this.chosenLetter,
        })
      }, 2000)
    },
  },

  computed: {
    ...mapGetters(['getGameRoom']),
  },

  mounted() {
    let room = this.getGameRoom

    if (this.me) {
      this.msg = 'Ти ще избираш!'
    } else if (room.roundCounter === 1) {
      this.msg = 'Първи ще избира'
    }

    setTimeout(this.timer, 1000)

    let code = room.code

    this.$echo.private(`room.${code}`).listen('LetterChosen', ({ letter }) => {
      this.chosenLetter = letter

      this.changeStage()
    })
  },
}
</script>

<style lang="sass" scoped>
.outline
  border-style: dashed !important

.name
  height: 100%
  line-height: 48px
  font-family: 'Neucha', cursive !important
</style>
