<template>
  <route-wrapper>
    <v-container>
      <v-layout column>
        <v-flex>
          <Search @search="search" />
        </v-flex>

        <v-flex>
          <v-layout column>
            <v-flex v-for="friend in friends" :key="friend.id" class="my-2">
              <v-card flat>
                <v-layout row>
                  <v-flex shrink>
                    <v-avatar>
                      <img :src="friend.avatar" alt />
                      <span
                        class="status"
                        v-if="friend.status === 'online'"
                      ></span>
                    </v-avatar>
                  </v-flex>

                  <v-flex class="ml-3">
                    <h4 class="font-weight-bold subheading">
                      {{ friend.name }}
                      <v-icon small v-if="friend.facebook">people</v-icon>
                    </h4>
                    <span class="body-1 grey--text"
                      >{{ friend.level }} ниво</span
                    >
                  </v-flex>

                  <v-flex shrink>
                    <v-btn
                      @click="addFriend(friend.id)"
                      :flat="!getSendRequestById(friend.id)"
                      icon
                      small
                      color="primary"
                      :class="{ outline: !isLoading(`addFriend${friend.id}`) }"
                      :loading="isLoading(`addFriend${friend.id}`)"
                    >
                      <v-icon>add</v-icon>
                    </v-btn>
                  </v-flex>
                </v-layout>
              </v-card>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>
  </route-wrapper>
</template>

<script>
import { mapGetters } from 'vuex'

import Search from '@/components/friends/Search'

export default {
  name: 'AddFriend',

  components: {
    Search,
  },

  methods: {
    addFriend(friendId) {
      this.$store.dispatch('addFriend', friendId)
    },

    search(query) {
      this.$store.dispatch('search', query)
    },
  },

  computed: {
    ...mapGetters(['isLoading', 'getSendRequestById']),
    friends() {
      return this.$store.getters.search
    },
  },
}
</script>
