<template>
  <v-app>
    <v-container fill-height>
      <v-layout column justify-center>
        <v-flex class="my-5" shrink align-self-center>
          <logo theme="light" />
        </v-flex>

        <v-flex shrink>
          <v-layout row>
            <v-flex xs12 sm8 offset-sm2 lg6 offset-lg3 xl4 offset-xl4>
              <v-card>
                <v-layout column fill-height>
                  <v-flex shrink>
                    <v-tabs fixed-tabs grow color="grey lighten-3">
                      <v-tab :to="{ name: 'login' }">Вход</v-tab>
                      <v-tab :to="{ name: 'signUp' }">Регистрация</v-tab>
                    </v-tabs>
                  </v-flex>

                  <v-flex>
                    <router-view></router-view>
                  </v-flex>
                </v-layout>
              </v-card>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>
  </v-app>
</template>

<style lang="sass" scoped>
.theme--light.application
  background-color: var(--v-primary-base) !important

#logo
  height: 75px
</style>

<style lang="sass">
.v-tabs__item
  color: var(--v-grey-darken1)

  &--active
    color: var(--v-primary-base)
    background-color: white
</style>
