<template>
  <game-wrapper>
    <template #players>
      <Rating nav />
    </template>

    <template #title v-if="!isLoading('fetchGames')">{{ game.name }}</template>

    <loading v-if="isLoading('fetchGameRoom') || isLoading('players')" />

    <v-container fill-height v-else>
      <v-layout column align-space-around justify-center>
        <v-flex shrink>
          <v-layout column align-center justify-space-between>
            <v-flex class="mt-3">
              <h4
                class="text-xs-center headline fontText"
                v-if="
                  isNextRound && stage === 'rating' && !isLoading('endRound')
                "
              >
                Следващият рунд ще започне след
                <br />
                {{ nextRoundCounterText }}
              </h4>

              <v-layout row class="text-xs-center" v-else>
                <v-flex class="mx-3">
                  <v-icon color="first" class="game-icons mr-1">star</v-icon>
                  <span class="first--text font-weight-bold">{{
                    me.points
                  }}</span>
                </v-flex>
                <v-flex class="mx-3">
                  <v-icon class="game-icons mr-1">access_time</v-icon>
                  <span>{{ timerText }}</span>
                </v-flex>
                <v-flex class="mx-3">
                  <v-icon color="info" class="game-icons mr-1"
                    >videogame_asset</v-icon
                  >
                  <span class="info--text"
                    >{{ getGameRoom.roundCounter }}/{{
                      getGameRoom.rounds
                    }}</span
                  >
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-flex>

        <v-flex class="mt-4">
          <GetReady
            @changeStage="changeStage"
            v-if="stage === 'getReady'"
            :stageToChange="'counting'"
          />

          <Counting
            @changeStage="changeStage"
            v-if="stage === 'counting'"
            :player="getCountingPlayer"
            :stageToChange="'roundStart'"
            :me="me.id === getCountingPlayer.id"
          />

          <RoundStart
            @changeStage="changeStage"
            v-if="stage === 'roundStart'"
            :stageToChange="'start'"
          />

          <v-layout fill-height column v-if="stage === 'start'">
            <v-flex shrink>
              <v-layout row>
                <v-flex shrink>
                  <v-avatar>
                    <img :src="getCountingPlayer.avatar" alt />
                  </v-avatar>
                </v-flex>

                <v-flex class="ml-3 subheading">
                  <span class="font-weight-black">{{
                    getCountingPlayer.name
                  }}</span>
                  избра буквата
                  <span class="primary--text text-uppercase font-weight-bold">{{
                    letter
                  }}</span
                  >. Покажи им какво можеш!
                </v-flex>
              </v-layout>
            </v-flex>

            <v-flex class="my-4">
              <table class="table">
                <tr>
                  <td>Град</td>
                  <td>
                    <input
                      v-model="data.city"
                      ref="city"
                      @keyup.enter="$refs.country.focus()"
                      type="text"
                      class="input"
                    />
                  </td>
                </tr>
                <tr>
                  <td>Държава</td>
                  <td>
                    <input
                      v-model="data.country"
                      ref="country"
                      @keyup.enter="$refs.name.focus()"
                      type="text"
                      class="input"
                    />
                  </td>
                </tr>
                <tr>
                  <td>Име</td>
                  <td>
                    <input
                      v-model="data.name"
                      ref="name"
                      @keyup.enter="$refs.button.$el.focus()"
                      type="text"
                      class="input"
                    />
                  </td>
                </tr>
              </table>
            </v-flex>

            <v-flex shrink align-self-center class="mb-5">
              <v-btn
                depressed
                round
                color="success"
                class="outline text-uppercase px-5"
                flat
                @click="ready()"
                ref="button"
                @keyup.enter="ready()"
                >Готов</v-btn
              >
            </v-flex>
          </v-layout>

          <v-container v-if="stage === 'rating'">
            <loading v-if="isLoading('endRound')" />
            <Rating v-else />
          </v-container>
        </v-flex>
      </v-layout>
    </v-container>
  </game-wrapper>
</template>

<script>
import { mapGetters } from 'vuex'

import GetReady from '@/components/games/GetReady'
import RoundStart from '@/components/games/RoundStart'
import Rating from '@/components/games/Rating'
import Counting from '@/components/games/cities-countries/Counting'

let resetData

export default {
  data: () => ({
    timerText: '00:00',
    timerInterval: null,
    startAt: '',
    nextRoundCounterText: 10,
    letter: '',

    data: {
      city: '',
      country: '',
      name: '',
    },
  }),

  mounted() {
    resetData = Object.assign({}, this.data)

    if (this.me) {
      this.$echo.private(`users.${this.me.id}`).notification(notification => {
        if (notification.type === 'CheckEndRound') {
          this.$store.dispatch('setEndRound', notification.room)

          if (this.isNextRound) {
            setTimeout(this.nextRoundCounter, 1000)
          }
        }
      })
    }
  },

  components: {
    GetReady,
    RoundStart,
    Counting,
    Rating,
  },

  methods: {
    changeStage({ stage, letter }) {
      this.$store.dispatch('changeGameStage', stage)

      if (letter) {
        this.letter = letter
      }
    },

    nextRoundCounter() {
      if (this.nextRoundCounterText - 1 >= 1) {
        this.nextRoundCounterText -= 1
        setTimeout(this.nextRoundCounter, 1000)
      } else {
        const code = this.code
        const slug = this.$route.name
        const round = this.getGameRoom.roundCounter + 1

        this.$store.dispatch('startNextRound', { code, slug, round })

        this.data = resetData
      }
    },

    async ready() {
      this.$store.dispatch('endRound', {
        playerData: this.data,
        fireEvent: true,
        letter: this.letter,
      })

      this.$store.dispatch('changeGameStage', 'rating')

      clearInterval(this.timerInterval)
    },

    timer() {
      const now = Math.trunc(new Date().getTime())

      const diff = this.startAt - now

      const minutes = Math.floor((diff % 3600000) / 60000)
      const seconds = Math.floor((diff % 60000) / 1000)

      this.timerText = `${minutes < 10 ? `0${minutes}` : minutes}:${
        seconds < 10 ? `0${seconds}` : seconds
      }`

      if (diff < 0) {
        this.endRound()
      }
    },

    endRound() {
      clearInterval(this.timerInterval)

      this.$store.dispatch('endRound', {
        playerData: this.data,
        fireEvent: false,
        letter: this.letter,
      })

      this.changeStage({ stage: 'rating' })
    },

    startTimer() {
      this.startAt = Math.trunc(new Date().getTime()) + 60000

      this.timerInterval = setInterval(this.timer, 1000)
    },
  },

  computed: {
    ...mapGetters([
      'getGameBySlug',
      'isLoading',
      'getPlayerById',
      'getGameRoom',
      'getCountingPlayer',
      'getPlayers',
    ]),

    game() {
      return this.getGameBySlug(this.$route.name)
    },

    me() {
      return this.getPlayerById(this.$store.state.user.id)
    },

    code() {
      return this.$route.params.code
    },

    stage() {
      let room = this.getGameRoom
      return room.data ? room.data.stage : ''
    },

    isNextRound() {
      return this.getGameRoom.roundCounter + 1 <= this.getGameRoom.rounds
    },
  },

  watch: {
    getGameRoom(room) {
      let rounds = room.data.rounds
      if (rounds) {
        let thisRound = rounds[room.roundCounter]
        this.letter = thisRound ? thisRound.letter : ''
      }

      this.$echo.private(`room.${room.code}`).listen('EndRound', () => {
        this.endRound()
      })
    },

    stage(newVal) {
      if (newVal === 'start') {
        this.startTimer()
      } else if (newVal === 'rating' && this.isNextRound) {
        this.nextRoundCounterText = 10

        setTimeout(this.nextRoundCounter, 1000)
      }
    },

    timerInterval(newVal, oldVal) {
      if (oldVal !== null) {
        clearInterval(oldVal)
      }
    },

    me(me, old) {
      if (old && me.id !== old.id) {
        this.$echo.private(`users.${me.id}`).notification(notification => {
          if (notification.type === 'CheckEndRound') {
            this.$store.dispatch('setEndRound', notification.room)
            setTimeout(this.nextRoundCounter, 1000)
          }
        })
      }
    },
  },
}
</script>

<style lang="sass" scoped>
.game-icons
  vertical-align: middle

.table
  width: 100%
  border-collapse: collapse

  tr
    td
      width: 75%
      border: 2px dashed #8D99AE
      padding: 5px 15px
      font-size: 16px

      &:first-child
        width: 25%

.input
  width: 100%

  &:focus
    color: #E4002B
    outline: none
    font-weight: 700
</style>
