<template>
  <game-wrapper>
    <template #players>
      <Rating nav />
    </template>

    <template #title v-if="!isLoading('fetchGames')">{{ game.name }}</template>

    <loading v-if="isLoading('fetchGameRoom') || isLoading('players')" />

    <v-container fill-height>
      <v-layout column align-space-around justify-center>
        <v-flex class="mt-4">
          <GetReady
            @changeStage="changeStage"
            v-if="stage === 'getReady'"
            :stageToChange="'start'"
          />

          <v-layout fill-height column v-if="stage === 'start'">
            <v-flex class="my-4">
              <Screen />
            </v-flex>

            <v-flex shrink align-self-center class="mb-5">
              <!-- Players -->
            </v-flex>
          </v-layout>

          <v-container v-if="stage === 'rating'">
            <loading v-if="isLoading('endRound')" />
            <Rating v-else />
          </v-container>
        </v-flex>
      </v-layout>
    </v-container>
  </game-wrapper>
</template>

<script>
import { mapGetters } from 'vuex'

import Screen from '../components/games/dots/Screen'
import GetReady from '@/components/games/GetReady'
import Rating from '@/components/games/Rating'

export default {
  components: {
    Screen,
    GetReady,
    Rating,
  },

  methods: {
    changeStage({ stage }) {
      this.$store.dispatch('changeGameStage', stage)
    },
  },

  computed: {
    ...mapGetters([
      'getGameBySlug',
      'isLoading',
      'getPlayerById',
      'getGameRoom',
      'getPlayers',
    ]),

    game() {
      return this.getGameBySlug(this.$route.name)
    },

    me() {
      return this.getPlayerById(this.$store.state.user.id)
    },

    code() {
      return this.$route.params.code
    },

    stage() {
      let room = this.getGameRoom
      return room.data ? room.data.stage : ''
    },
  },
}
</script>
