<template>
  <route-wrapper>
    <template
      v-if="!isLoading('fetchFriends') && !isLoading('fetchFriendRequests')"
    >
      <v-container v-if="friends.length > 0 || friendRequests.length > 0">
        <v-layout column>
          <v-flex>
            <Search>
              <v-flex shrink>
                <v-btn
                  :to="{ name: 'add-friend' }"
                  color="primary"
                  outline
                  round
                >
                  <v-icon>group_add</v-icon>
                </v-btn>
              </v-flex>
            </Search>
          </v-flex>

          <v-flex>
            <div v-if="friendRequests.length > 0">
              <Invites />

              <v-divider class="my-3" />
            </div>

            <Friends />
          </v-flex>
        </v-layout>
      </v-container>

      <NoFriends v-else />
    </template>

    <loading v-else />
  </route-wrapper>
</template>

<script>
import Search from '@/components/friends/Search'
import Friends from '@/components/friends/Friends'
import NoFriends from '@/components/friends/NoFriends'
import Invites from '@/components/friends/Invites'

import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters(['isLoading', 'friends', 'friendRequests']),
  },

  components: {
    NoFriends,
    Friends,
    Search,
    Invites,
  },
}
</script>
