<template>
  <route-wrapper>
    <v-container
      fluid
      fill-height
      align-center
      class="game-wrapper white--text"
      :style="{
        backgroundImage:
          'url(' + require(`@/assets/games/${game.image}.svg`) + ')',
      }"
      v-if="!isLoading('fetchGames')"
    >
      <v-layout column justify-center align-center align-content-center>
        <v-flex shrink class="text-xs-center mb-5">
          <h1 class="font-weight-black my-2 text-uppercase">
            <v-icon color="white" @click="info = true" class="info-icon"
              >info</v-icon
            >
            {{ game.name }}
          </h1>
          <!-- <span class="body-2">
            <v-icon class="mr-1" small color="white">people</v-icon>
            {{ game.activePlayers }}
          </span>-->
        </v-flex>
        <v-flex shrink class="text-xs-center">
          <v-btn round ripple depressed class="white--text info px-4"
            >Играй онлайн</v-btn
          >
          <v-spacer></v-spacer>
          <v-btn
            round
            depressed
            color="white"
            @click="createGameRoom"
            class="info--text px-4 create-game"
            >Играй с приятели</v-btn
          >
        </v-flex>
      </v-layout>

      <v-dialog v-model="info" full-width>
        <v-card>
          <v-card-title class="title"
            >Как се играе?
            <v-spacer></v-spacer>
            <v-btn icon @click="info = false">
              <v-icon small>close</v-icon>
            </v-btn>
          </v-card-title>

          <v-card-text>{{ game.description }}</v-card-text>
        </v-card>
      </v-dialog>
    </v-container>

    <loading v-else />
  </route-wrapper>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  data: () => ({
    info: false,
  }),

  computed: {
    ...mapGetters(['isLoading']),

    gameId() {
      return parseInt(this.$route.params.gameId)
    },

    game() {
      return this.$store.getters.getGameById(this.gameId)
    },
  },

  methods: {
    createGameRoom() {
      this.$store.dispatch('createGameRoom', this.gameId)
    },
  },
}
</script>

<style lang="sass">
.game-wrapper
  background-size: cover

.info-icon
  vertical-align: inherit

.create-game
  border: 1px solid #4B67D6 !important
</style>
