<template>
  <game-wrapper>
    <template #title v-if="!isLoading('fetchGameRoom')">{{ title }}</template>

    <loading v-if="isLoading('fetchGameRoom') || isLoading('players')" />

    <v-container fill-height v-else>
      <v-layout column align-space-around justify-center>
        <v-flex shrink>
          <v-layout column align-center justify-space-between>
            <v-flex class="mb-2">
              <h2 class="font-weight-regular">Изчакване на играчи</h2>
            </v-flex>
            <v-flex>
              <v-layout row align-enter justify-center>
                <v-flex class="mx-3">
                  <v-icon class="game-icons mr-1">access_time</v-icon>
                  <span>{{ timerText }}</span>
                </v-flex>
                <v-flex class="mx-3">
                  <v-icon class="game-icons mr-1">people</v-icon>
                  <span>{{ playersCount }}/{{ maxPlayers }}</span>
                </v-flex>
                <v-flex class="mx-3">
                  <template v-if="gameSlug == 'dots'">
                    <v-icon class="game-icons mr-1">grid_on</v-icon>
                    <span>{{ grid }} x {{ grid }}</span>
                    <v-icon
                      @click="changeGridToggle = true"
                      size="16"
                      class="ml-2 settings"
                      v-if="isAdmin"
                      >settings</v-icon
                    >
                  </template>
                  <template v-else>
                    <v-icon class="game-icons mr-1">videogame_asset</v-icon>
                    <span>{{ selectedRounds }}/{{ maxRounds }}</span>
                    <v-icon
                      @click="changeRoundsToggle = true"
                      size="16"
                      class="ml-2 settings"
                      v-if="isAdmin && maxRounds > 1"
                      >settings</v-icon
                    >
                  </template>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-flex>

        <v-flex class="my-3 px-3">
          <v-layout column>
            <v-flex v-for="player in getPlayers" :key="player.id" class="my-2">
              <v-card flat>
                <v-layout row>
                  <v-flex shrink>
                    <v-avatar color="grey lighten-3">
                      <img v-if="player.avatar" :src="player.avatar" alt />
                      <v-icon v-else color="grey darken-1" size="40"
                        >person</v-icon
                      >
                    </v-avatar>
                  </v-flex>

                  <v-flex class="ml-2">
                    <h4 class="font-weight-bold subheading">
                      {{ player.name }}
                    </h4>
                    <span class="body-1 grey--text"
                      >{{ player.level }} ниво</span
                    >
                  </v-flex>

                  <v-flex
                    shrink
                    v-if="player.status === 'ready'"
                    class="
                      success--text
                      text-uppercase
                      text-xs-center
                      ready-text
                      subheading
                    "
                    >Готов</v-flex
                  >
                </v-layout>
              </v-card>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex shrink>
          <v-layout column align-center>
            <v-flex>
              <v-btn
                depressed
                round
                color="success"
                :class="[
                  me.status === 'ready' ? 'fill' : '',
                  'outline',
                  'text-uppercase',
                  'px-5',
                ]"
                flat
                @click="toggleReady()"
                >Готов</v-btn
              >
            </v-flex>
            <v-flex>
              <v-btn
                depressed
                round
                color="primary"
                class="outline text-uppercase px-4"
                flat
                @click="invite = !invite"
                >Покани приятели</v-btn
              >
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>

    <!-- TODO: Make int seperate component -->
    <v-dialog v-model="invite" full-width>
      <v-card>
        <v-card-title class="title invite">
          Покани приятели
          <v-spacer></v-spacer>
          <v-btn icon @click="invite = false">
            <v-icon small>close</v-icon>
          </v-btn>
        </v-card-title>

        <v-card-text>
          <v-layout column>
            <v-flex>
              <Search />
            </v-flex>
            <v-flex>
              <v-layout column>
                <v-flex v-for="friend in friends" :key="friend.id" class="my-2">
                  <v-card flat>
                    <v-layout row>
                      <v-flex shrink>
                        <v-avatar>
                          <img :src="friend.avatar" alt />
                          <span
                            class="status"
                            v-if="friend.status === 'online'"
                          ></span>
                        </v-avatar>
                      </v-flex>

                      <v-flex class="ml-3">
                        <h4 class="font-weight-bold subheading">
                          {{ friend.name }}
                          <span class="chip facebook">
                            <v-icon dark size="10">fab fa-facebook-f</v-icon>
                          </span>
                        </h4>
                        <span class="body-1 grey--text"
                          >{{ friend.level }} ниво</span
                        >
                      </v-flex>
                      <v-flex shrink>
                        <v-btn
                          color="primary"
                          icon
                          :loading="
                            isLoading(`gameRoomInviteFriend${friend.id}`)
                          "
                          :flat="!isInvited(friend.id)"
                          :class="[
                            'outline',
                            isInvited(friend.id) ? 'fill' : '',
                          ]"
                          @click="inviteFriend(friend.id)"
                        >
                          <v-icon>add</v-icon>
                        </v-btn>
                      </v-flex>
                    </v-layout>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-card-text>
      </v-card>
    </v-dialog>

    <SelectRound
      v-model="changeRoundsToggle"
      :maxRounds="maxRounds"
      v-if="!isLoading('fetchGameRoom') && isAdmin && maxRounds > 1"
    />

    <SelectGrid
      v-model="changeGridToggle"
      :initialGrid="grid"
      v-if="!isLoading('fetchGameRoom') && isAdmin"
    />
  </game-wrapper>
</template>

<script>
import Search from '@/components/friends/Search'

import SelectRound from '@/components/games/SelectRound'
import SelectGrid from '@/components/games/SelectGrid'

import { mapGetters } from 'vuex'

export default {
  name: 'GameLobby',

  data: () => ({
    invite: false,
    changeRoundsToggle: true,
    changeGridToggle: false,
    timerInterval: null,
    timerText: '',
  }),

  components: {
    Search,
    SelectRound,
    SelectGrid,
  },

  computed: {
    ...mapGetters([
      'getGameById',
      'getGameRoom',
      'getPlayers',
      'getPlayerById',
      'friends',
      'getInvitedFriends',
      'isLoading',
    ]),

    code() {
      return this.$route.params.code
    },

    me() {
      return this.$store.state.user
    },

    playersCount() {
      return this.getPlayers.length
    },

    isAdmin() {
      return this.getGameRoom.createdBy === this.me.id
    },

    selectedRounds() {
      return this.getGameRoom.rounds
    },

    maxRounds() {
      return this.getGameById(this.getGameRoom.gameId).max_rounds
    },

    maxPlayers() {
      return this.getGameById(this.getGameRoom.gameId).max_players
    },

    title() {
      return this.getGameById(this.getGameRoom.gameId).name
    },

    gameSlug() {
      return this.getGameById(this.getGameRoom.gameId).slug
    },

    grid() {
      return this.getGameRoom.data.grid
    },

    startAt() {
      return Math.trunc(Date.parse(this.getGameRoom.startAt))
    },
  },

  beforeDestroy() {
    clearInterval(this.timerInterval)
  },

  watch: {
    timerInterval(newVal, oldVal) {
      if (oldVal !== null) {
        clearInterval(oldVal)
      }
    },
  },

  methods: {
    async toggleReady() {
      const playerId = this.me.id

      let {
        data: { type },
        status,
      } = await this.$store.dispatch('toggleReady', {
        playerId,
        toFetch: true,
      })

      if (type === 'success') {
        this.$echo.channel(`presence-room.${this.code}`).whisper('ready', {
          playerId,
          status,
        })
      }
    },

    isInvited(id) {
      return this.getInvitedFriends.includes(id)
    },

    inviteFriend(id) {
      this.$store.dispatch('inviteFriend', id)
    },

    async start() {
      clearInterval(this.timerInterval)
      this.timerInterval = {}

      let code = this.code
      let slug = this.gameSlug

      await this.$store.dispatch('startNextRound', { code, slug, round: 1 })
      this.$router.replace({ name: slug, params: { code } })
    },

    isEveryoneReady() {
      let playersReady = this.getPlayers.filter(x => x.status === 'ready')

      return playersReady.length == this.playersCount && this.playersCount !== 0
    },

    timer() {
      const now = Math.trunc(new Date().getTime())

      const diff = this.startAt - now

      const minutes = Math.floor((diff % 3600000) / 60000)
      const seconds = Math.floor((diff % 60000) / 1000)

      this.timerText = `${minutes < 10 ? `0${minutes}` : minutes}:${
        seconds < 10 ? `0${seconds}` : seconds
      }`

      if (diff > 0) {
        if (this.isEveryoneReady() && this.playersCount >= 2) {
          this.start()
        }
      } else {
        if (this.isEveryoneReady() && this.playersCount >= 2) {
          this.start()
        } else {
          this.$store.dispatch('exitGame')

          this.$router.replace({ name: 'games' })
        }
      }
    },

    startTimer() {
      this.timerInterval = setInterval(this.timer, 1000)
    },
  },

  mounted() {
    this.startTimer()
  },
}
</script>

<style lang="sass" scoped>
.game-icons
  vertical-align: middle

.settings
  vertical-align: sub

.ready-text
  line-height: 48px


.outline
  border-style: dashed !important

  &.fill
    color: white !important

    &.success--text
      background-color: #85E6B4 !important
      border-color: #0CCE6B !important

    &.primary
      background-color: #F17F95 !important
      border-color: #E4002B !important
</style>

<style lang="sass">
.rounds
  .v-input__control
    .v-input__slot
      height: 36px
      background-color: #FAFBFC !important
      border: 2px dashed #C1CAD6
      border-radius: 36px !important

      .v-select__slot
        .v-select__selections
          color: #C1CAD6
</style>
