<template>
  <route-wrapper>
    <v-container fluid grid-list-lg v-if="!isLoading('fetchGames')">
      <v-layout row wrap>
        <v-flex xs12 v-for="game in games" :key="game.id">
          <v-card
            :to="{ name: 'game', params: { gameId: game.id } }"
            class="white--text text-xs-center card"
            :style="{
              backgroundImage:
                'url(' + require(`@/assets/games/${game.image}.svg`) + ')',
            }"
          >
            <v-card-title primary-title>
              <div class="headline text-xs-center">{{ game.name }}</div>
            </v-card-title>
            <!-- <v-card-text>
              <v-icon color="white">people</v-icon>
              {{ game.activePlayers }}
            </v-card-text>-->
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>

    <loading v-else />
  </route-wrapper>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Games',

  computed: {
    ...mapGetters(['isLoading', 'games']),
  },
}
</script>

<style lang="sass" scoped>
.card
  background-size: cover

  .headline
    margin: 0 auto
    height: 100%
</style>
