<template>
  <v-container fill-height>
    <v-layout column class="text-xs-center" align-center justify-center>
      <v-flex shrink class="display-1 grey--text text--darken-1"
        >Приготви се! <br />Играта започва
        <br />
        {{ timerText }}
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    timerText: 3,
  }),

  props: ['stageToChange'],

  methods: {
    end() {
      this.$emit('changeStage', { stage: this.stageToChange })
    },

    timer() {
      if (this.timerText - 1 >= 1) {
        this.timerText -= 1
        setTimeout(this.timer, 1000)
      } else {
        this.end()
      }
    },
  },

  mounted() {
    setTimeout(this.timer, 1000)
  },
}
</script>

<style lang="sass" scope>
.display-1
  font-family: 'Neucha', cursive !important
</style>
