<template>
  <v-layout column>
    <v-flex
      v-for="(player, index) in getPlayers"
      :key="player.id"
      class="my-2 rating"
    >
      <v-card flat>
        <v-layout row>
          <v-flex shrink class="number mr-3">
            <span class="text title fontText">#{{ index + 1 }}</span>
          </v-flex>

          <v-flex shrink>
            <v-avatar size="36" class="center">
              <img :src="player.avatar" alt />
            </v-avatar>
          </v-flex>

          <v-flex class="ml-3">
            <h4 class="subheading text">{{ player.name }}</h4>
            <span class="body-1 grey--text text"
              >{{ player.points }} точки</span
            >
          </v-flex>
        </v-layout>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters(['getPlayers']),
  },

  props: {
    nav: {
      type: Boolean,
      default: false,
    },
  },
}
</script>

<style lang="sass">
.rating
  &:nth-child(1)
    .text
      color: #FFDF00 !important
  &:nth-child(2)
    .text
      color: #C1CAD6 !important
  &:nth-child(3)
    .text
      color: #EAC435 !important

.number
  line-height: 48px
  font-family: 'Neucha', cursive !important

.center
  margin: 6px 0
</style>
