<template>
  <v-dialog v-model="toggle" persistent full-width>
    <v-card>
      <v-card-text>
        <v-layout column>
          <v-flex>
            <label for="rounds" class="subheading">Брой рундове</label>
            <v-select
              v-model="selectedRounds"
              :items="items"
              autofocus
              color="grey lighten-1"
              flat
              solo
              class="rounds mt-2"
            ></v-select>
          </v-flex>

          <v-flex align-self-center>
            <v-btn
              depressed
              round
              color="primary"
              class="outline text-uppercase px-3"
              flat
              :loading="isLoading('changeRounds')"
              @click="changeRounds()"
              >Ок</v-btn
            >
          </v-flex>
        </v-layout>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'SelectRound',

  props: {
    toggle: {
      required: true,
      default: true,
      type: Boolean,
    },
    maxRounds: {
      required: true,
      type: Number,
    },
  },

  model: {
    prop: 'toggle',
    event: 'toggle',
  },

  data: () => ({
    selectedRounds: 1,
  }),

  computed: {
    ...mapGetters(['isLoading']),
    items() {
      let items = []

      for (let i = 1; i < this.maxRounds + 1; i++) {
        items.push(i)
      }

      return [1] || items
    },
  },

  methods: {
    async changeRounds() {
      await this.$store.dispatch(
        'changeRounds',
        parseInt(this.selectedRounds, 10),
      )

      this.$emit('toggle', false)
    },
  },
}
</script>
