<template>
  <v-dialog v-model="toggle" persistent full-width>
    <v-card>
      <v-card-text>
        <v-layout column>
          <v-flex>
            <label for="rounds" class="subheading"
              >Брой точки на ред и в колона</label
            >
            <v-select
              v-model="grid"
              :items="items"
              autofocus
              color="grey lighten-1"
              flat
              solo
              class="rounds mt-2"
            ></v-select>
          </v-flex>

          <v-flex align-self-center>
            <v-btn
              depressed
              round
              color="primary"
              class="outline text-uppercase px-3"
              flat
              :loading="isLoading('changeGrid')"
              @click="changeGrid()"
              >Ок</v-btn
            >
          </v-flex>
        </v-layout>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'SelectGrid',

  model: {
    prop: 'toggle',
    event: 'toggle',
  },

  props: {
    toggle: {
      required: true,
      default: false,
      type: Boolean,
    },
    initialGrid: {
      required: true,
      type: Number,
      default: 5,
    },
  },

  data: () => ({
    selectedRounds: 1,
    items: [5, 7, 9],
    grid: 5,
  }),

  computed: {
    ...mapGetters(['isLoading']),
  },

  watch: {
    initialGrid(grid) {
      this.grid = grid
    },
  },

  methods: {
    async changeGrid() {
      await this.$store.dispatch('changeGrid', parseInt(this.grid, 10))

      this.$emit('toggle', false)
    },
  },
}
</script>
