<template>
  <div>
    <vue-p5 v-on="{ setup, draw, touchstarted: click, mouseclicked: click }" />

    <!-- {{ getPlayers[0].points }} {{ getPlayers[1].points }} -->
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import VueP5 from 'vue-p5'

import md5 from 'js-md5'

export default {
  name: 'DotsScreen',

  components: {
    'vue-p5': VueP5,
  },

  data: () => ({
    grid: [
      {
        grid: 5,
        dotSize: 25,
        space: 100,
      },
      {
        grid: 7,
        dotSize: 30,
        space: 140,
      },
      {
        grid: 9,
        dotSize: 25,
        space: 100,
      },
    ],
  }),

  mounted() {
    this.$store.dispatch('setDotsState')

    this.$echo
      .join(`room.${this.getGameRoom.code}`)
      .listenForWhisper('AddLine', ({ line, dot, dir }) => {
        this.$store.dispatch('setDotDir', { dot, dir })
        this.$store.dispatch('addLine', { line, dot, dir })
        this.$store.dispatch('getPlayers')
      })
      .listenForWhisper('AddBox', ({ box }) => {
        this.$store.dispatch('addBox', box)
      })
  },

  computed: {
    ...mapGetters(['getGameRoom', 'getPlayers', 'getBoxes', 'getLines']),

    dots() {
      return this.$store.getters.getDots
    },

    selected() {
      return this.grid.find(g => g.grid == this.getGameRoom.data.grid)
    },

    dlSize() {
      return this.selected.dotSize
    },

    space() {
      return this.selected.space
    },

    boxes() {
      return this.getBoxes
    },

    lines() {
      return this.getLines
    },

    playerOnTurn() {
      return this.getPlayers.find(p => p.data.isOnTurn)
    },

    me() {
      return this.$store.state.user
    },
  },

  methods: {
    async addLine(line, dot, dir) {
      await this.$store.dispatch('setDotDir', { dot, dir })
      this.$store.dispatch('addLine', { line, dot, dir })

      let newBox = false

      console.clear()

      for (let i = 0; i < this.dots.length; i++) {
        for (let j = 0; j < this.dots[i].length; j++) {
          let dot = this.dots[i][j]
          let down, right

          if (i + 1 < this.dots.length) {
            down = this.dots[i + 1][j]

            if (j + 1 < this.dots[i].length) {
              right = this.dots[i][j + 1]

              if (dot.right && dot.down && right.down && down.right) {
                let bottomRight = this.dots[i + 1][j + 1]
                let box = {
                  topLeft: dot,
                  topRight: right,
                  bottomRight,
                  bottomLeft: down,
                  hash: md5(
                    `${dot.x},${dot.y};${right.x},${right.y};${bottomRight.x},
                    ${bottomRight.y};${down.x},${down.y}`,
                  ),
                  color: this.playerOnTurn.data.colors.boxColor,
                }

                const boxFound = this.boxes.find(b => b.hash === box.hash)

                if (boxFound == undefined) {
                  this.addBox(box)

                  newBox = true
                }
              }
            }
          }
        }
      }

      if (!newBox) {
        this.$store.dispatch('setPlayerOnTurn', this.me.id)
      }

      this.$echo.join(`room.${this.getGameRoom.code}`).whisper('AddLine', {
        line,
        dot,
        dir,
      })
    },

    addBox(box) {
      this.$echo.join(`room.${this.getGameRoom.code}`).whisper('AddBox', {
        box,
      })

      this.$store.dispatch('addBox', box)
    },

    setup(sk) {
      const size = 500

      sk.createCanvas(size, size)

      let outerEdge = sk.floor(
        (size - (this.selected.grid - 1) * this.space) / 2,
      )

      let dots = []
      for (let i = 0; i < this.selected.grid; i++) {
        let row = []

        for (let j = 0; j < this.selected.grid; j++) {
          let x = outerEdge + this.space * j
          let y = outerEdge + this.space * i
          row.push({ x, y, size: this.dlSize, down: false, right: false })
        }

        dots.push(row)
      }
      this.$store.dispatch('addDots', dots)
    },

    draw(sk) {
      sk.background('#F5F5F5')

      for (let box of this.boxes) {
        let x1 = box.topLeft.x
        let y1 = box.topLeft.y
        let x2 = box.topRight.x
        let y2 = box.topRight.y
        let x3 = box.bottomRight.x
        let y3 = box.bottomRight.y
        let x4 = box.bottomLeft.x
        let y4 = box.bottomLeft.y

        sk.fill(box.color)
        sk.quad(x1, y1, x2, y2, x3, y3, x4, y4)
      }

      for (let line of this.lines) {
        sk.fill(line.color)
        sk.noStroke()

        sk.rect(line.x, line.y, line.w, line.h)
      }

      for (let i = 0; i < this.dots.length; i++) {
        for (let j = 0; j < this.dots[i].length; j++) {
          let dot = this.dots[i][j]

          sk.noStroke()
          sk.fill(0)

          sk.circle(dot.x, dot.y, dot.size)
        }
      }

      if (this.boxes.length == Math.pow(this.selected.grid - 1, 2)) {
        sk.noLoop()
      }
    },

    click(sk) {
      if (this.playerOnTurn && this.me.id !== this.playerOnTurn.id) {
        return false
      }

      let found = false,
        { lines } = this

      for (let i = 0; i < this.dots.length; i++) {
        for (let j = 0; j < this.dots[i].length; j++) {
          let dot = this.dots[i][j]
          let down, right

          if (i + 1 < this.dots.length) {
            down = this.dots[i + 1][j]

            if (this.isClicked(dot, down, sk) && !found) {
              found = true

              let lineSize = this.dlSize * 0.5

              let lineX = dot.x - lineSize / 2
              let lineY = dot.y

              let line = {
                x: lineX,
                y: lineY,
                w: lineSize,
                h: this.space,
                color: this.playerOnTurn.data.colors.lineColor,
              }

              const foundLine = lines.find(l => l.x == line.x && l.y == line.y)

              if (!foundLine) {
                this.addLine(line, { i, j }, 'down')
              }
            }
          }

          if (j + 1 < this.dots[i].length) {
            right = this.dots[i][j + 1]

            if (this.isClicked(dot, right, sk) && !found) {
              found = true

              let lineSize = this.dlSize * 0.5

              let lineX = dot.x
              let lineY = dot.y - lineSize / 2

              let line = {
                x: lineX,
                y: lineY,
                w: this.space,
                h: lineSize,
                color: this.playerOnTurn.data.colors.lineColor,
              }

              const foundLine = lines.find(l => l.x == line.x && l.y == line.y)

              if (!foundLine) {
                this.addLine(line, { i, j }, 'right')
              }
            }
          }
        }
      }

      return false
    },

    isClicked(dot, neighbor, sketch) {
      let { mouseX, mouseY } = sketch

      if (
        !(
          this.isOnDot(dot, mouseX, mouseY) ||
          this.isOnDot(neighbor, mouseX, mouseY)
        )
      ) {
        const d1 = sketch.dist(mouseX, mouseY, dot.x, dot.y)
        const d2 = sketch.dist(mouseX, mouseY, neighbor.x, neighbor.y)

        const buffer = 15

        return d1 + d2 >= this.space - buffer && d1 + d2 <= this.space + buffer
      }
      return false
    },

    isOnDot(dot, mouseX, mouseY) {
      const distX = dot.x - mouseX
      const distY = dot.y - mouseY

      const distance = Math.sqrt(distX * distX + distY * distY)

      return distance <= dot.size / 2
    },
  },
}
</script>

<style></style>
