<template>
  <v-btn
    @click="openFbLoginDialog"
    :loading="isLoading"
    color="facebook"
    round
    class="white--text px-4"
  >
    <v-icon dark class="mr-3">fab fa-facebook-f</v-icon> {{ this.text }}
  </v-btn>
</template>
<script>
export default {
  data: () => ({
    isLoading: false,
  }),

  props: ['text'],

  methods: {
    openFbLoginDialog() {
      this.isLoading = true

      window.FB.login(this.checkLoginState, { scope: 'email' })
    },
    async checkLoginState(response) {
      if (response.status === 'connected') {
        const data = {
          data: {
            token: response.authResponse.accessToken,
          },
          provider: 'facebook',
        }

        if (this.$route.query.next) {
          data.redirect = this.$route.query.next
        }

        try {
          await this.$store.dispatch('signIn', data)
        } catch (e) {
          this.isLoading = false

          throw e
        }
      } else if (response.status === 'not_authorized') {
        // the user is logged in to Facebook,
        // but has not authenticated your app
      } else {
        // the user isn't logged in to Facebook.
      }
    },
  },
}
</script>
