<template>
  <v-app>
    <v-navigation-drawer
      fixed
      v-model="players"
      right
      app
      width="250"
      class="fontText"
    >
      <v-container fill-height>
        <v-layout column>
          <v-flex shrink>
            <v-layout row align-center justify-space-around>
              <v-flex class="headline fontText grey--text text--darken-1"
                >Класация</v-flex
              >
              <v-flex shrink>
                <v-btn icon flat depressed @click="players = false">
                  <v-icon color="grey darken-1">close</v-icon>
                </v-btn>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex>
            <slot name="players"></slot>
          </v-flex>
          <v-flex shrink align-self-center>
            <v-btn
              @click="openDialog()"
              color="primary"
              flat
              depressed
              class="exit"
            >
              <v-icon color="primary" left>exit_to_app</v-icon>Излез от играта
            </v-btn>
          </v-flex>
        </v-layout>
      </v-container>
    </v-navigation-drawer>

    <v-toolbar color="white" class="fontText" fixed app>
      <v-toolbar-title class="text-uppercase">
        <slot name="title"></slot>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-icon color="primary" @click="openDialog()" v-if="isLobby"
        >exit_to_app</v-icon
      >
      <v-toolbar-side-icon
        class="grey--text text--lighten-1"
        @click.stop="players = !players"
        v-else
      ></v-toolbar-side-icon>
    </v-toolbar>

    <v-content class="fontText">
      <slot></slot>
    </v-content>

    <v-dialog v-model="dialog" max-width="290">
      <v-card class="pa-4">
        <v-card-text class="title fontText text-xs-center"
          >Сигурен ли си, че искаш да напуснеш играта? Ако напуснеш, ще изгубиш
          спечелените точки.</v-card-text
        >

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            class="dialog__btn fontText"
            flat
            depressed
            round
            @click="dialog = false"
            ref="no"
            active-class="active"
            >Не</v-btn
          >
          <v-spacer></v-spacer>
          <v-btn
            class="dialog__btn fontText"
            flat
            depressed
            round
            @click="exit()"
            ref="yes"
            active-class="active"
            >Да</v-btn
          >
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-app>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'GameWrapper',

  data: () => ({
    players: false,
    dialog: false,
  }),

  methods: {
    openDialog() {
      this.dialog = true
      this.$refs.no.isActive = true
      this.$refs.yes.isActive = false
      // this.$nextTick(() => this.$refs.no.$el.focus())
    },

    exit() {
      this.$refs.no.isActive = false
      this.$refs.yes.isActive = true

      this.$store.dispatch('exitGame')

      this.$router.replace({ name: 'games' })
    },
  },

  beforeDestroy() {
    this.$echo.disconnect(`presence-room.${this.code}`)
  },

  computed: {
    code() {
      return this.$route.params.code
    },

    isLobby() {
      return this.$route.name === 'game-lobby'
    },

    ...mapGetters(['isLoading']),
  },

  mounted() {
    this.$echo
      .join(`room.${this.code}`)
      .here(players => {
        console.log('here', players)

        this.$store.dispatch('setPlayers', players)
        this.$store.dispatch('stopLoading', 'players')
      })
      .joining(player => {
        console.log('joining', player)

        this.$store.dispatch('addPlayer', player)
      })
      .leaving(player => {
        console.log('leaving', player)

        this.$store.dispatch('removePlayer', player)
      })
      .listenForWhisper('ready', ({ playerId, status }) => {
        console.log('ready', status)

        this.$store.dispatch('toggleReady', {
          playerId,
          status,
          toFetch: false,
        })
      })
    // .listen('PlayerChangedStatus', data => {
    //   this.$store.dispatch('toggleReady', { ...data, toFetch: false })
    // })
  },
}
</script>

<style lang="sass">
.fontText
  font-family: 'Neucha', cursive !important

.application.theme--light
    background: white

.exit
  border: 2px dashed #E4002B

.dialog__btn
  border-style: dashed !important

  &.active
    color: #E4002B
    border-color: #E4002B
</style>
