<template>
  <v-container fill-height>
    <v-layout column class="auth-container">
      <v-flex class="my-5 shrink text-xs-center">
        <v-form ref="form">
          <v-layout column>
            <v-text-field
              v-model="email"
              full-width
              outline
              id="email"
              class="auth-input mt-1"
              height="36"
              type="email"
              @keyup.enter="login"
            ></v-text-field>
            <label for="email" class="auth-label">Емейл</label>
          </v-layout>

          <v-layout column>
            <v-text-field
              v-model="password"
              full-width
              outline
              id="password"
              class="auth-input"
              height="36"
              type="password"
              @keyup.enter="login"
            ></v-text-field>
            <label for="password" class="auth-label">Парола</label>
          </v-layout>

          <v-btn :loading="isLoading" round color="primary" @click="login">
            Влез
          </v-btn>
        </v-form>
      </v-flex>

      <v-divider class="mb-4" />

      <v-flex align-self-center>
        <FacebookButton text="Влез с Facebook" />
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import FacebookButton from './FacebookLoginButton'

export default {
  data: () => ({
    isLoading: false,
    email: '',
    password: '',
  }),

  components: {
    FacebookButton,
  },

  methods: {
    async login() {
      this.isLoading = true

      const data = {
        data: {
          email: this.email,
          password: this.password,
        },
        provider: 'login',
      }

      if (this.$route.query.next) {
        data.redirect = this.$route.query.next
      }

      try {
        await this.$store.dispatch('signIn', data)
      } catch (e) {
        this.isLoading = false

        throw e
      }
    },
  },
}
</script>

<style lang="sass">
.auth-label
  color: var(--v-grey-lighten1)
  margin-left: 15px
  order: -1
  text-align: left

.auth-input
  .v-input__control
    .v-input__slot
      border-radius: 25px !important
      border: 2px solid var(--v-grey-lighten1) !important

      input
        margin-top: 10px

  &.v-input--is-focused
    & + .auth-label
      color: var(--v-primary-base)
      font-weight: 700

    & > .v-input__control > .v-input__slot
      border: 2px solid var(--v-primary-base) !important

      input
        color: #e4002b !important

@media (min-width: 600px)
  .auth-container
    margin: 0 15%
    min-width: 240px
</style>
