<template>
  <v-card flat color="grey lighten-4">
    <v-card-text>
      <v-layout row>
        <v-flex shrink>
          <v-avatar>
            <img :src="notification.user.avatar" alt />
          </v-avatar>
        </v-flex>

        <v-flex
          class="ml-3 grey--text"
          v-if="notification.type === 'game-invite'"
        >
          <span class="font-weight-bold subheading black--text">{{
            notification.user.name
          }}</span>
          ти изпрати покана за {{ notification.gameName }}
        </v-flex>
      </v-layout>
    </v-card-text>

    <v-card-actions v-if="notification.type === 'game-invite'">
      <v-spacer></v-spacer>
      <v-btn
        depressed
        color="primary"
        class="mx-3 mb-2"
        round
        @click="respondToInvite('accept')"
        >Потвърди</v-btn
      >
      <v-btn
        depressed
        color="primary"
        class="mx-3 mb-2"
        outline
        round
        @click="respondToInvite('reject')"
        >Откажи</v-btn
      >
      <v-spacer></v-spacer>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: ['notification'],

  computed: {
    me() {
      return this.$store.state.user
    },
  },

  methods: {
    respondToInvite(status) {
      this.$store.dispatch('respondToInvite', {
        status,
        code: this.notification.code,
        userId: this.me.id,
      })
    },
  },
}
</script>
