<template>
  <v-app>
    <v-toolbar fixed app color="white">
      <v-toolbar-title>
        <logo theme="dark" />
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <!-- <v-btn icon>
        <v-icon>people</v-icon>
      </v-btn>-->
      <v-menu nudge-bottom="40">
        <template v-slot:activator="{ on }">
          <v-btn icon v-on="on">
            <v-avatar size="36" color="grey lighten-3">
              <img :src="avatarUrl" v-if="avatarUrl" alt="Avatar" />
              <v-icon v-else color="grey darken-1" class="avatar"
                >person</v-icon
              >
            </v-avatar>
          </v-btn>
        </template>
        <v-list>
          <v-list-tile @click="logout">
            <v-list-tile-title>Изход</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar>

    <v-content>
      <Notification v-if="notification.type" :notification="notification" />
      <slot></slot>
    </v-content>

    <v-bottom-nav fixed app :active="nav" :value="true" color="white">
      <v-btn color="primary" :to="{ name: 'games' }" flat value="games">
        <v-icon class="icon">videogame_asset</v-icon>
        <span>Игри</span>
      </v-btn>

      <v-btn color="primary" flat :to="{ name: 'friends' }" value="friends">
        <v-icon class="icon">people</v-icon>
        <span>Приятели</span>
      </v-btn>

      <v-btn color="primary" flat value="ranking">
        <v-icon class="icon">bar_chart</v-icon>
        <span>Класация</span>
      </v-btn>

      <v-btn color="primary" flat value="notifications">
        <v-icon class="icon">notifications</v-icon>
        <span>Известия</span>
      </v-btn>
    </v-bottom-nav>
  </v-app>
</template>

<script>
import Notification from './Notification'

export default {
  name: 'RouteWrapper',

  components: {
    Notification,
  },

  computed: {
    nav() {
      return this.$route.name
    },

    avatarUrl() {
      return this.$store.state.user.avatar
    },

    me() {
      return this.$store.state.user
    },
  },

  data: () => ({
    notification: {},
  }),

  methods: {
    logout() {
      this.$store.dispatch('signOut')
    },
  },

  mounted() {
    if (this.me) {
      this.$echo
        .private(`users.${this.me.id}`)
        .notification(notification => {
          this.notification = notification
        })
        .listen('FriendRequest', ({ friend }) => {
          this.$store.dispatch('addFriendRequest', friend)
        })
    }
  },
}
</script>

<style lang="sass" scoped>
.icon
  order: 1

#logo
  height: 20px

.avatar
  border: 1px solid var(--v-grey-lighten1)
</style>

<style lang="sass">
.theme--light.application
  background: white
</style>
