<template>
  <v-container fill-height>
    <v-layout column class="auth-container">
      <v-flex class="my-5 shrink text-xs-center">
        <v-form ref="form">
          <v-layout column>
            <v-text-field
              v-model="name"
              full-width
              outline
              id="name"
              class="auth-input mt-1"
              height="36"
              type="text"
              name="name"
              @keyup.enter="signUp"
            ></v-text-field>
            <label for="name" class="auth-label">Име</label>
          </v-layout>

          <v-layout column>
            <v-text-field
              v-model="email"
              full-width
              outline
              id="email"
              class="auth-input mt-1"
              height="36"
              type="email"
              name="email"
              @keyup.enter="signUp"
            ></v-text-field>
            <label for="email" class="auth-label">Емейл</label>
          </v-layout>

          <v-layout column>
            <v-text-field
              v-model="password"
              full-width
              outline
              id="password"
              class="auth-input"
              height="36"
              type="password"
              name="password"
              @keyup.enter="signUp"
            ></v-text-field>
            <label for="password" class="auth-label">Парола</label>
          </v-layout>

          <v-layout column>
            <v-text-field
              v-model="passwordConfirmation"
              full-width
              outline
              id="password_confirmation"
              class="auth-input mt-1"
              height="36"
              type="password"
              name="password_confirmation"
              @keyup.enter="signUp"
            ></v-text-field>
            <label for="password_confirmation" class="auth-label"
              >Повтори паролата</label
            >
          </v-layout>

          <v-btn round color="primary" @click="signUp">
            Регистрирай се
          </v-btn>
        </v-form>
      </v-flex>

      <v-divider class="mb-4" />

      <v-flex align-self-center>
        <FacebookButton text="Регистрирай се с Facebook" />
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import FacebookButton from './FacebookLoginButton'

export default {
  components: {
    FacebookButton,
  },

  data: () => ({
    isLoading: false,
    email: '',
    name: '',
    password: '',
    passwordConfirmation: '',
  }),

  methods: {
    async signUp() {
      this.isLoading = true

      const data = {
        data: {
          email: this.email,
          name: this.name,
          password: this.password,
          password_confirmation: this.passwordConfirmation,
        },
        provider: 'register',
      }

      if (this.$route.query.next) {
        data.redirect = this.$route.query.next
      }

      try {
        await this.$store.dispatch('signIn', data)
      } catch (e) {
        this.isLoading = false

        throw e
      }
    },
  },
}
</script>
