<template>
  <v-layout column>
    <v-flex v-for="friend in friends" :key="friend.id" class="my-2">
      <v-card flat>
        <v-layout row>
          <v-flex shrink>
            <v-avatar>
              <img :src="friend.avatar" alt />
              <span class="status" v-if="friend.status === 'online'"></span>
            </v-avatar>
          </v-flex>

          <v-flex class="ml-3">
            <h4 class="font-weight-bold subheading">
              {{ friend.name }}
              <span class="chip facebook" v-if="friend.from === 'facebook'">
                <v-icon dark size="10">fab fa-facebook-f</v-icon>
              </span>
            </h4>
            <span class="body-1 grey--text">{{ friend.level }} ниво</span>
          </v-flex>
        </v-layout>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters(['friends']),
  },
}
</script>

<style lang="sass">
.status
  width: 12px
  height: 12px
  border: 1px #fff solid
  border-radius: 50%
  position: absolute
  bottom: 0
  right: 0
  background-color: #0CCE6B

.chip
  border-radius: 50%
  display: inline-block
  width: 16px
  height: 16px
  text-align: center

  .v-icon
    line-height: 17px
    vertical-align: top
</style>
