<template>
  <v-layout column>
    <v-flex v-for="friend in friendRequests" :key="friend.id" class="my-2">
      <v-card flat>
        <v-layout row>
          <v-flex shrink>
            <v-avatar>
              <img :src="friend.avatar" />
            </v-avatar>
          </v-flex>

          <v-flex class="ml-3 text-truncate">
            <h4 class="font-weight-bold subheading">
              {{ friend.name }}
              <v-icon small v-if="friend.facebook">people</v-icon>
            </h4>
            <span class="body-1 grey--text">{{ friend.level }} ниво</span>
          </v-flex>

          <v-flex shrink>
            <v-btn
              @click="changeStatus('accepted', friend.id)"
              flat
              icon
              small
              color="success"
              :class="{
                outline: !isLoading(`changeStatusAccepted${friend.id}`),
              }"
              :loading="isLoading(`changeStatusAccepted${friend.id}`)"
            >
              <v-icon>check</v-icon>
            </v-btn>
            <v-btn
              @click="changeStatus('rejected', friend.id)"
              icon
              small
              flat
              color="error"
              :class="{
                outline: !isLoading(`changeStatusRejected${friend.id}`),
              }"
              :loading="isLoading(`changeStatusRejected${friend.id}`)"
            >
              <v-icon>close</v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Invites',

  methods: {
    changeStatus(status, friendId) {
      this.$store.dispatch('changeStatus', { status, friendId })
    },
  },

  computed: {
    ...mapGetters(['isLoading', 'friendRequests']),
  },
}
</script>

<style lang="sass" scope>
.outline
  border: 2px solid currentColor !important
</style>
