<template>
  <v-container fluid fill-height align-center class="white black--text">
    <v-layout column align-center>
      <v-flex class="headline mt-5" text-xs-center
        >За съжаление в момента нямаш приятели</v-flex
      >

      <v-flex>
        <v-icon size="100">sentiment_dissatisfied</v-icon>
      </v-flex>

      <v-flex>
        <v-btn
          color="primary"
          :to="{ name: 'add-friend' }"
          round
          depressed
          outline
          class="px-4"
          >Добави приятели</v-btn
        >
      </v-flex>

      <!-- <v-flex>
        <v-btn color="facebook" round depressed class="white--text px-4">
          <v-icon left>people</v-icon>Свържи с Фейсбук
        </v-btn>
      </v-flex>-->
    </v-layout>
  </v-container>
</template>
