<template>
  <v-layout row>
    <v-flex>
      <v-text-field
        label="Търси..."
        flat
        solo-inverted
        background-color="grey lighten-1 grey--text text--lighten-1"
        append-icon="search"
        class="d-inline-flex search"
        @keyup.enter="search"
        @click:append="search"
        v-model="query"
      />
    </v-flex>

    <slot></slot>
  </v-layout>
</template>

<script>
export default {
  name: 'Search',

  data: () => ({
    query: '',
  }),

  methods: {
    search() {
      this.$emit('search', this.query)
    },
  },
}
</script>

<style lang="sass">
.search
  .v-input__control
    .v-input__slot
      border-radius: 25px !important
      background-color: rgba(193, 202, 214, 0.08) !important
      border: 1px solid

.search.v-input--is-focused > .v-input__control > .v-input__slot
  input
    color: #e4002b !important
  .v-label
    color: #e4002b !important
</style>
