<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 202.73 115.3" id="logo">
    <path
      :fill="colors.logo"
      d="M149.23.75l-45,26a5.61,5.61,0,0,1-5.63,0l-45-26a5.66,5.66,0,0,0-5.63,0l-45,26A5.63,5.63,0,0,0,0,31.64v52a5.63,5.63,0,0,0,2.82,4.88l45.05,26a5.66,5.66,0,0,0,5.63,0l45.05-26a5.61,5.61,0,0,1,5.63,0l45,26a5.66,5.66,0,0,0,5.63,0l45-26a5.65,5.65,0,0,0,2.82-4.88v-52a5.65,5.65,0,0,0-2.82-4.88l-45-26A5.66,5.66,0,0,0,149.23.75Z"
    ></path>
    <circle :fill="colors.dots" cx="137.03" cy="57.65" r="4.69"></circle>
    <circle :fill="colors.dots" cx="152.04" cy="42.63" r="4.69"></circle>
    <circle :fill="colors.dots" cx="152.04" cy="72.67" r="4.69"></circle>
    <circle :fill="colors.dots" cx="167.06" cy="57.65" r="4.69"></circle>
    <path
      :fill="colors.dots"
      d="M50.68,77.36A4.65,4.65,0,0,1,46,72.71V42.59a4.66,4.66,0,0,1,9.31,0V72.71A4.66,4.66,0,0,1,50.68,77.36Z"
    ></path>
    <path
      :fill="colors.dots"
      d="M65.74,62.3H35.63a4.65,4.65,0,1,1,0-9.3H65.74a4.65,4.65,0,1,1,0,9.3Z"
    ></path>
  </svg>
</template>

<script>
export default {
  props: {
    theme: {
      default: 'dark',
    },
  },

  computed: {
    colors() {
      if (this.theme === 'dark') {
        return {
          logo: '#ec223b',
          dots: '#fff',
        }
      } else if (this.theme === 'light') {
        return {
          logo: '#fff',
          dots: '#ec223b',
        }
      }
    },
  },
}
</script>
